@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
/*font-family: 'DM Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;  
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-success{
    background-color: #68d9a4;
}
.btn-primary{
    background-color: #3282f7;
}
.btn-danger{
    background-color: #ed6454;
}
h1{
    color: #d04f4f;
    font-size: 36px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}
.logo{
    width: 80px;
    height: 76px;
}
header{
    margin-bottom: 26px;
}
.form-control{
    background: #E7E7E7;
    height: 69px;
    border-radius: 5px;
    border: none;
}
.form-control:focus{
    background: #E7E7E7;
}
.search-bar{
    position: relative;
}
.search-bar::after{
   content: url(/img/search.svg);
   position: absolute;
   bottom: 14px;
   right: 5px;
}
.tags{
    margin-top: 25px;
    margin-right: 25px;
}
.tag{
    margin-left: 10px;
    height: 37px;
    border-radius: 5px;
    line-height: 37px;
    text-align: center;
}
.search-btns{
    margin-top: 24px;
    position: relative;
    display: flex;
}
.dropdown-search-list input::placeholder{
    opacity: 0.7;
    color: #FFFFFF;
}
.btn-dropdown{
    width: 170px;
    height: 69px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
.dropdown{
    
    border-radius: 5px;
    width: 170px;
    height: 69px;
}
.dropdown-search-list{
    position: absolute;
    border-radius: 5px;
    top:0;
    left: 0;
    width: 672px;
    z-index: 100;
}
.dropdown-search-list.overFlow{
    overflow-y: scroll;
}
.dropdown-search-list ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 400px;
}
.itemLi{
    margin-left: 20px;
    cursor:pointer;
}

.dropdown-search-list input{
  width: 100%;
  height: 69px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
}
.arrowUp{
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
.hide{
   display: none;
}
.crossTag{
    cursor: pointer;
}
.card{
    width: 400px;
    height: 430px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 5px;
    margin-bottom: 20px;
}
.card-top{
    width: 400px;
    height: 187px;
}
.card-img-top{
    width: 398px;
    height: 187px;
    object-fit: auto;
}
.card-body{
    background: #E7E7E7;
}
.recette-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 18px;
    width: 70%;
}
h2 img{
    padding-left: 180px;
}
.time{
    font-weight: bold;
}
.description{
    display: flex;
    margin-top: 16px;
}
.preparation{
    width: 50%;
    padding-left:12px;
}
.list-ingredient{
    width: 50%;
}
.list-ingredient li {
    font-size: 12px;
}
.ingredient-bold{
    font-weight: bold;
}
.preparation p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}